@import '../color';

.Header--nav {
  @extend .navbar;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $color-border;
}

.Header--name {
  color: $color-text;
  font-size: 1.25rem;
}
