@import "globals";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(15px) contrast(30);
  background: #fff;
}

.ball {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 66px center;
  margin-left: 40px;

  &:before {
    content: '';
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 100%;
    background: #00f;
  }
}

.ball1 {
  @extend .ball;
  margin-left: -50px;
}

.ball2 {
  @extend .ball;
  margin-left: 25px;
  transform: translateY(-50%) rotate(180deg);
  margin-left: -100px;
  animation: rotate-1 1.7s linear infinite;
  z-index: 2;
}

.ball3 {
  @extend .ball;
  margin-left: 120px;
}

@keyframes rotate-1 {
  0% {
    margin-left: -18px;
    transform: translateY(-50%) rotate(0deg);
    transform-origin: 66px center;
  }
  25% {
    margin-left: -25px;
    transform: translateY(-50%) rotate(-180deg);
    transform-origin: 66px center;
  }
  50% {
    margin-left: -33px;
    transform: translateY(-50%) rotate(-360deg);
    transform-origin: 66px center;
  }
  50.1% {
    transform-origin: -12px center;
  }
  75% {
    margin-left: -36px;
    transform: translateY(-50%) rotate(-180deg);
    transform-origin: -12px center;
  }
  75.01 {
    margin-left: -66px;
    transform: translateY(-50%) rotate(-180deg);
    transform-origin: -12px center;
  }
  100% {
    margin-left: -18px;
    transform: translateY(-50%) rotate(0deg);
    transform-origin: -12px center;
  }
}
