.PageError--container {
  padding: 4rem 0;
  text-align: center;
  float: left;
  width: 100%;
}

.PageError--oops {
  margin-bottom: 4rem;
  font-size: 4rem;
  color: #ddd;
}

.PageError--title {
  margin: 3rem 0;
  font-size: 2rem;
}
