@import "globals";

.ul {
  list-style-type: none;
  padding-left: 1.5rem;
}

.toc {
  font-size: $font-size-tiny;
  padding: 0.3rem 0;

  > a {
    color: $color-primary;
  }
}

.active {
  font-weight: $font-weight-bold;

  > a {
    color: $color-text;
  }
}

.toc-h1 {
  @extend .toc;

  padding: 0.3rem 0;
}

.toc-h2 {
  @extend .toc;

  padding: 0.3rem 0.7rem;
}

.toc-h3 {
  @extend .toc;

  padding: 0.3rem 1.4rem;
}

.toc-h4 {
  @extend .toc;

  padding: 0.3rem 2rem;
}
