@import "globals";

.latestPosts {
  padding: 2rem 0;
  font-size: $font-size-huge;
  font-weight: $font-weight-bold;
  text-align: center;
}

.btnWrapper {
  display: flex;
  padding: 2rem 0.5rem;
}

.btnOlder {
  text-transform: uppercase;
  margin-left: auto;
  padding: 1.3rem 0.8rem;
  color: $color-primary-dark;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  border: 1px solid $color-divider;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #fff;
    background: $color-accent;
  }
}
