@import "globals";
@import "vendors/bootstrap";

.title {
  color: $color-text;
  font-size: $font-size-big;
  font-weight: $font-weight-bolder;
}

.titleDraft {
  &::before {
    content: "[Draft] ";
    color: red;
  }
}

.date {
  color: $color-primary;
  font-style: italic;
  font-size: $font-size-tiny;
}

.description {
  font-weight: $font-weight-thin;
}

.article {
  @extend .col-lg-10;
  @extend .col-xs-12;

  padding: 1.5rem 1rem;
  border-bottom: 2px solid darken($color-divider, 0.2);
  margin: 0 auto;
}

.draft {
  background: rgba($color-accent, 0.2);
  padding-bottom: 1.5rem;

  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
  }
}
