@import 'vendors/bootstrap';
@import 'color';

.nav {
  @extend .navbar;
  @extend .navbar-fixed-top;
  text-align: center;
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $color-border;
}

.link {
  font-size: 1.5rem;
  color: $color-text !important;
}
