@import "vendors/bootstrap";
@import "globals";
@import "responsive";

.nav {
  @extend .navbar;
  @extend .navbar-full;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
  background: $color-background;
  // border-top: 3px solid $color-accent;
  margin-bottom: 2rem;
}

.brand {
  @extend .navbar-brand;
  font-size: $font-size-big;
  text-decoration: none;
}

.navLink {
  @extend .pull-xs-right;
  @extend .nav-item;
  padding: 0.6rem 1rem;
  font-size: $font-size-small;
  background: $color-background;
  border: 0;
  color: $color-accent;
  border-right: 1px solid $color-divider;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    background: rgba($color-accent, 0.2);
  }

  @include media-breakpoint-down(sm) {
    padding: 0.6rem 0.7rem;
    & > span {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 0.6rem 0.5rem;
  }
}

.navLinkActive {
  text-decoration: none;
  background: rgba($color-accent, 0.2);
}
