@import 'vendors/bootstrap';
@import 'globals';
@import 'responsive';

.nav {
  @extend .navbar;
  @extend .navbar-fixed-top;
  box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.2);
  z-index: $z-index-highest;
  background: $color-background;
  padding: .2rem 0;
  opacity: .9;
  border-top: 3px solid $color-accent;
}

.brand {
  @extend .col-md-6;
  @extend .col-xs-12;

  @include media-breakpoint-up(xs) {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    text-align: left;
  }


  > a {
    	text-decoration: none;
    	font-size: $font-size-big;
    	color: $color-text;

      &:visited, &:focus, &:hover, &:active {
        color: $color-text;
        text-decoration: none;
      }
  }
}



.navLink {
  @extend .col-md-6;
  @extend .col-xs-12;

  @include media-breakpoint-up(xs) {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    text-align: right;
  }

  > a {
    font-size: $font-size-small;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    padding: 0.5rem 1rem;
  }
}
