:root {
  --colorBackground: color(var(--colorPrimary) saturation(+10%));
}
/*
 * https://css-tricks.com/flexbox-nav-bar-fixed-variable-take-rest-elements/
 */
.bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  & a {
    color: #fff !important;
    transition: 0.2s;
  }
}

.name {
  margin-right: 1rem;
  flex: 2;
  padding: 0 1rem;
  font-size: 1.2rem;

  @media (--sm) {
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }
}

.item {
  padding: 1rem;

  &:hover, &:active {
    background: var(--colorBackground);
  }
}

.itemActive {
  background: var(--colorBackground);
}

.item span {
  display: none;

  @media (--sm) {
    display: inline-block;
  }
}

.search {
  display: none;
  /*display: flex;*/
  flex: 1;
  margin-left: 2rem;

  & input {
    width: 100%;
  }
}
