@import "vars";
@import "color";

// main sidebar container
:global .bm-menu {
  overflow-y: auto;
  font-size: .875rem;
  color: $color-border;
  background-color: $color-text;
  z-index: 1040;

  & a {
    font-weight: 400;
    color: #fff
  }
}

// sidebar-item
.item {
  padding: 1rem;

  & p:last-child {
    margin-bottom: 0
  }

  @media (min-width: 48rem) {
    .item {
      padding: 1.5rem
    }
  }
}

.avatar {
  @extend .item;
  padding-bottom: 0;
  text-align: center;

  img {
    margin: 0 auto;
    border: 5px solid $color-border-inverse;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    transition: border .3s ease-in-out;

    &:hover {
      border: 5px solid #fff
    }
  }
}

.nav {
  border-bottom: 1px solid $color-border-inverse;
}
.nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid $color-border-inverse;
}
.nav-item.active,
a.nav-item:focus,
a.nav-item:hover {
  text-decoration: none;
  background-color: $color-border-inverse;
  border-color: transparent
}

@media (min-width: 48rem) {
  .nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}
