@import "globals";

// main sidebar container
:global .bm-menu {
  overflow-y: auto;
  font-size: .875rem;
  color: $color-primary;
  background-color: $color-primary-dark;
  z-index: 1040;

  & a {
    font-weight: 400;
    color: $color-white;
  }
}

// sidebar-item
.item {
  padding: 1rem;

  & p:last-child {
    margin-bottom: 0
  }

  @media (min-width: 48rem) {
    .item {
      padding: 1.5rem
    }
  }
}

.avatar {
  @extend .item;
  padding-bottom: 0;
  text-align: center;

  img {
    margin: 0 auto;
    border: .2rem solid $color-primary;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    filter: grayscale(0%);
    transition: .5s ease-in-out;

    &:hover {
      border-color: $color-white;
      filter: grayscale(70%);
      transition: .5s ease-in-out;
    }
  }
}

.nav {
  border-bottom: 1px solid darken($color-primary, 10%);
}
.nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid darken($color-primary, 10%);
}
.nav-item.active,
a.nav-item:focus,
a.nav-item:hover {
  text-decoration: none;
  color: $color-text;
  background-color: darken($color-primary, 10%);
  border-color: transparent
}

@media (min-width: 48rem) {
  .nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}
