@import "globals";

.latestPosts {
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
  text-align: center;
}

.all {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  display: block;

  padding: 2rem 0;
  margin: 2rem 0;
  width: 100%;

  color: $color-accent;
  font-size: $font-size-normal;
  font-weight: $font-weight-bolder;
  border-radius: .25rem;
  border: 1px solid $color-accent;

  transition-duration: .2s;
  transition-property: color;

  &:hover, &:active, &:focus {
    color: $color-accent-contrast;
    background: $color-accent;
    text-decoration: none;
  }
}
