@import "globals";
@import "vendors/bootstrap";

.title {
  color: $color-text;
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
}

.titleDraft {
  &:before {
    content: "[Draft] ";
    color: red;
  }
}

.date {
  display: block;
  color: $color-primary;
  font-style: italic;
  font-size: $font-size-tiny;
}


.article {
  @extend .col-md-6;
  @extend .col-xs-12;
  padding: 1.5rem 1rem;
  border-bottom: 2px solid darken($color-divider, .2);
}

.draft {
  background: rgba($color-accent, .2);
  padding-bottom: 1.5rem;

  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
  }
}
