/**
 * Font family
 */
$font-code: Menlo, Monaco, Consolas, monospace;

/**
 * Sidebar , navbar
 */
$sidebar-width: 15rem;
$navbar-fixed-top-padding: 7rem;
// Animation for sidebar
$animation-time: .3s;
