@import "globals";
@import "vendors/bootstrap";
@import "responsive";

.footer {
  @extend .container-fluid;

  margin-top: 2rem;
  border-top: 1px solid $color-divider;
  padding: 2rem 3rem 1rem;
  color: $color-primary;
  font-size: $font-size-tiny;
  line-height: $font-size-tiny;
  font-weight: $font-weight-thin;

  > p {
    margin-bottom: 0.2rem;
  }

  .heart {
    color: red;
    font-size: $font-size-small;
  }
}

.copyright,
.info {
  @extend .col-xs-12;
  @extend .col-md-6;
}

.copyright {
  text-align: right;

  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}
