.footer {
  color: var(--colorGrey);
  border-top: 1px solid var(--colorDivider);
  margin-top: 2rem;
  padding: 2rem 3rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;

  @media (--md) {
    flex-direction: row;
  }
}

.heart {
  color: red;
  font-size: 1rem;
}

.copyright,
.info {
  flex: 0 0 100%;
  text-align: center;

  @media (--md) {
    flex: 0 0 50%;
  }
}

@media (--md) {
  .info {
    text-align: left;
  }

  .copyright {
    text-align: right;
  }
}
