@import "globals";

.text {
  color: $color-primary;
  font-size: $font-size-tiny;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 2px solid $color-divider;

  a {
    color: $color-primary;
    text-decoration: underline;

    &:hover, &:focus {
      color: $color-accent;
    }
  }
}
