@import 'vendors/bootstrap';
@import 'globals';

.nav {
  @extend .navbar;
  @extend .navbar-fixed-top;
  z-index: $z-index-highest;
  text-align: center;
  background: $color-background;
  padding: .2rem 0;
  opacity: .9;
  border-bottom: 2px solid $color-divider;
}

.link {
	text-decoration: none;
	font-size: $font-size-huge;
	font-weight: $font-weight-bolder;
	color: $color-text;

  &:visited, &:hover, &:active {
    color: $color-text;
    text-decoration: none;
  }

  &:hover {
    color: $color-primary;
  }
}
